.container {
  display: flex;
  width: 900px;
  height: 200px;
  background-color: rgb(235, 234, 234);
  align-items: center;
  margin: 0 auto;
}

div {
  /* display: flex; */
}

h1 {
  /* justify-content: space-between; */
  padding: 0 130px 0 50px;
}
p {
  padding-right: 45px;
}
