.container {
  height: 100vh;
  position: relative;
}
.item-green {
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: green;
  width: 150px;
  height: 150px;
}
.item-red {
  position: absolute;
  background-color: red;
  top: 32%;
  left: 32%;
  width: 150px;
  height: 150px;
}
.item-yellow {
  position: absolute;
  top: 34%;
  left: 34%;
  background-color: yellow;
  width: 150px;
  height: 150px;
}
