* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  margin-top: 60px;
  font-size: 16px;
  color: grey;
  font-style: italic;
}
.form {
  padding: 8px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
